<section class="landing">
    <div class="row">
        <h1 class="white-text left">The Underground</h1>
    </div>
    <div class="row">
        <h4 class="center white-text">Where live music never dies</h4>
    </div>
    <div class="row">
        <div class="col entry">
          <% if current_user %>
            <%= link_to "ENTER", events_path, class: "btn red waves-effect center waves-light" %>
            <% else %>
            <%= link_to "Facebook Login", "/auth/facebook", class: "btn blue center" %>
            <% end %>
        </div>
    </div>
</div>
</section>
