<section class="landing">
    <div class="row">
        <h1 class="white-text left">The Underground</h1>
    </div>
    <div class="row">
        <h4 class="center white-text">Where live music never dies</h4>
    </div>
    <div class="row">
        <div class="col m3 offset-m4">
            <%= link_to "ENTER", enter_underground_path_url, class: "btn red waves-effect center waves-light" %>
        </div>
    </div>
</div>
</section>
