<section class="landing">
    <div class="row">
        <h1 class="white-text left">The Underground</h1>
      </div>
        <div class="row">
            <%= link_to "ENTER", enter_underground_path_url, class: "btn red valign waves-effect center waves-light" %>
        </div>
    </div>
</section>
