<div class="row">
  <span class="white-text">Welcome
    <%= @user.name %>!
  </span>
  <%= image_tag @user.photo, class: "circle responsive-image" %>
</div>
<div class="user-header">
  <h6 class="center-align">Bands You're Following</h6>
</div>
