@import "materialize";

body {
  background-color: #000;
}
.landing {
  height: 100vh;
  background-image: url("self.jpg");
  background-size: cover;
}

.grey-outline {
  border: 1px solid gray;
}
.event-box {
  height: 40vh;
}
.moment-collection {
  overflow-x: scroll;
}
