<a href="#" data-activates="slide-out" class="button-collapse right large">
    <i class="material-icons">menu</i>
</a>
<!-- SIDE NAV DATA -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <% if current_user %>
            <%= image_tag current_user.photo, class: "center-align" %>
            <p class="name right"><%= current_user.name %></p>
            <% end %>

        </div>
    </li>
    <li>
        <a href="#!">
            <i class="material-icons">cloud</i>Home</a>
    </li>
    <li>
        <a href="Artists">
          <i class="material-icons">library_music</i>Artists</a>
    </li>
    <li>
        <a href="/events">
          <i class="material-icons">library_music</i>Events</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">Personal</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Inbox<span class="new badge blue small">2</span></a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Friends</a>
    </li>
    <li>
      <% if current_user %>
      <%= link_to "Logout", logout_path, class: "btn red" %>
      <% else %>
      <%= link_to "Facebook Login", "/auth/facebook", class: "btn blue" %>
      <% end %>
    </li>
</ul>
